@font-face {
  font-family: karmaticArcade;
  src: url("../fonts/karmatic-arcade.ttf") formate("truetype"); }

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  .App > div {
    width: calc(100vw / 2 - 100vh / 2);
    height: 100vh;
    box-sizing: border-box;
    background-image: url("../images/tile.png");
    background-size: 100%; }
  .App .splash {
    background-position: right top; }
    .App .splash p {
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      padding: 10%;
      font-family: karmaticArcade;
      font-size: calc(100vw / 12 - 100vh / 12);
      -webkit-mask-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.7) 50%, black); }
  .App .palette {
    background-position: left top;
    display: flex; }
    .App .palette .picker {
      margin: 5%; }
    .App .palette input[type='color'] {
      width: 7vw;
      height: 7vw; }
    .App .palette .picker-card {
      width: 90% !important;
      visibility: hidden; }
  .App #palette {
    width: 7vw;
    max-width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5%;
    margin-bottom: auto;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); }
    .App #palette .color {
      height: 0;
      padding-top: 100%; }
    .App #palette #color247a23 {
      background-color: #247a23; }
    .App #palette #color30bf2e {
      background-color: #30bf2e; }
    .App #palette #color269e8c {
      background-color: #269e8c; }
    .App #palette #color205988 {
      background-color: #205988; }
    .App #palette #color37abe4 {
      background-color: #37abe4; }
    .App #palette #color8300dc {
      background-color: #8300dc; }
    .App #palette #colorac0f5f {
      background-color: #ac0f5f; }
    .App #palette #colorf42618 {
      background-color: #f42618; }
    .App #palette #colore9671d {
      background-color: #e9671d; }
    .App #palette #colorf29221 {
      background-color: #f29221; }
    .App #palette #colorff78e9 {
      background-color: #ff78e9; }
    .App #palette #colorffcd94 {
      background-color: #ffcd94; }
    .App #palette #colorf0ee4d {
      background-color: #f0ee4d; }
    .App #palette #color8b4513 {
      background-color: #8b4513; }
    .App #palette #colorffffff {
      background-color: #ffffff; }
    .App #palette #colord4d4d4 {
      background-color: #d4d4d4; }
    .App #palette #color868686 {
      background-color: #868686; }
    .App #palette #color000000 {
      background-color: #000000; }
  .App #quilt {
    width: 100vh;
    height: 100vh;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    margin: 0;
    padding: 0; }
