@font-face {
    font-family: karmaticArcade;
    src: url('../fonts/karmatic-arcade.ttf') format('truetype');
}

.App {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    > div {
        width: calc(100vw / 2 - 100vh / 2);
        height: 100vh;
        box-sizing: border-box;
        background-image: url('../images/tile.png');
        background-size: 100%;
    }

    .splash {
        background-position: right top;

        p {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            padding: 10%;
            font-family: karmaticArcade;
            font-size: calc(100vw / 12 - 100vh / 12);
            -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.7) 50%, rgba(0,0,0,1));
        }
    }

    .palette {
        background-position: left top;
        display: flex;

        .picker {
            margin: 5%;
        }

        input[type='color'] {
            width: 7vw;
            height: 7vw;
        }

        .picker-card {
            width: 90% !important;
            visibility: hidden;
        }
    }

    #palette {
        width: 7vw;
        max-width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 5%;
        margin-bottom: auto;
        // box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
        // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaUlEQVQoU12PCw2AMAwFbzaGDLCBDXSgAxvYABlgY+RgWxqaLOnn+vqWgBE4+WIFNuCudUk1EZorYCsDF5Aa4OYelAowqCTg0GeodLhZ62yiXL8JTNFTJ9vNv6cG9JvhN68nAYdRaYmeHot9F9X2eFD0AAAAAElFTkSuQmCC) repeat;

        .color {
            height: 0;
            padding-top: 100%;
        }
    }

    #quilt {
        width: 100vh; height: 100vh;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        margin: 0;
        padding: 0;
    }
}
