@font-face {
    font-family: karmaticArcade;
    src: url('../fonts/karmatic-arcade.ttf') format('truetype');
}

@font-face {
    font-family: tokyo;
    src: url('../fonts/mplus-2p-thin-sub.ttf') format('truetype');
}

@mixin background-gradient($from, $to) {
    background: $to;
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -webkit-linear-gradient(top, $from, $to);
    background: -moz-linear-gradient(top, $from, $to);
    background: -ms-linear-gradient(top, $from, $to);
    background: -o-linear-gradient(top, $from, $to);
}

.App {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    > div {
        width: calc(100vw / 2 - 100vh / 2);
        height: 100vh;
        box-sizing: border-box;
        background-image: url('../images/tile.png');
        background-size: 100%;
    }

    #intro {
        width: 70vw; height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 30%;
        border: 1px solid #888;
        filter: brightness(95%);
        padding: 5%;
        font-family: tokyo;
        font-weight: bold;
        font-size: 1.8vw;
        z-index: 1;

        span {
            padding-left: 1%;
            font-family: karmaticArcade;
            font-size: 2vw;
            -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.7) 50%, rgba(0,0,0,1));
        }

        #title {
            font-size: 2.8vw;
        }

        #description {
            width: 100%;
        }

        #show {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 7vh 0 2vh 0;

            input[type=checkbox] {
                position: relative;
                width: 2%; height: 2%;
            	-webkit-appearance: none;
                -moz-appearance: none;
            	background-color: #fafafa;
            	border: 1px solid #cacece;
            	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
            	padding: 5%;
                margin-right: 5%;
            	border-radius: 3px;
            	display: inline-block;
            }

            input[type=checkbox]:active, input[type=checkbox]:checked:active {
            	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
            }

            input[type=checkbox]:checked {
            	background-color: #e9ecee;
            	border: 1px solid #adb8c0;
            	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
            	color: #99a1a7;
            }

            input[type=checkbox]:checked:after {
            	content: '\2714';
            	font-size: 14px;
            	position: absolute;
            	top: 0;
            	left: 3px;
            	color: #99a1a7;
            }

            input[type=checkbox]:checked:focus {
                outline: none;
            }

            span {
                font-family: tokyo;
                font-size: 1.2vw;
            }
        }

        #showEnter {
            width: 20%;

            input[type=button] {
                border-bottom: 1px solid #888;
                @include background-gradient(#ccc, #fff);
                text-shadow: rgba(0,0,0,.2) 0 1px 0;
                color: black;
                font-size: 1.5vw;
            }

            input[type=button]:hover {
                @include background-gradient(#999, #ccc);
                border: 1px solid #555;
            }

            input[type=button]:active {
                @include background-gradient(#888, #bbb);
                border: 1px solid #444;
            }

            input[type=button]:focus {
                outline: 0;
                border: 1px solid #545454;
            }
        }
    }

    #loading {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 48px; height: 48px;
        transform: translate(-50%, -50%);
        background-image: none;
        color: #868686;
    }

    .splash {
        background-position: right top;

        p {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            padding: 10%;
            font-family: karmaticArcade;
            font-size: calc(100vw / 12 - 100vh / 12);
            -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.7) 50%, rgba(0,0,0,1));
        }
    }

    input[type=button] {
        width: 100%;
        border: 1px solid #888;
        border-radius: 0;
        border-bottom: none;
        @include background-gradient(#ccc, #fff);
        text-shadow: rgba(0,0,0,.2) 0 1px 0;
        color: black;
        font-size: 0.8vw;
        font-family: tokyo;
        font-weight: bold;
    }

    input[type=button]:hover {
        @include background-gradient(#999, #ccc);
        border: 1px solid #555;
        border-bottom: none;
    }

    input[type=button]:active {
        @include background-gradient(#888, #bbb);
        border: 1px solid #444;
        border-bottom: none;
    }

    input[type=button]:focus {
        outline: 0;
        border: 1px solid #545454;
        border-bottom: none;
    }

    .palette {
        background-position: left top;
        display: flex;

        .picker {
            margin: 5%;

            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                input[type=button] {
                    width: calc(7vw + 6px);
                }
            }
        }

        input[type='color'] {
            width: 7vw;
            height: 7vw;
        }

        .picker-card {
            width: 90% !important;
            visibility: hidden;
        }
    }

    #paletteContainer {
        width: 7vw;
        max-width: 80%;
        margin: 5%;
        margin-bottom: auto;

        #palette {
            display: grid;
            grid-template-columns: 50% 50%;

            .color {
                height: 0;
                padding-top: 100%;
            }
        }

        #paletteButtons {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    #quilt {
        width: 100vh; height: 100vh;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        margin: 0;
        padding: 0;
    }
}
